/* Yhis is CSS */

/**/

@@media query {
  body {
    color: red;
  }
}

head {
  color: green;
}

body {
  color: green;
}

p {
  color: green;
}

h1 {
  color: green;
}

h2 {
  color: green;
}

h3 {
  color: green;
}
